.dashboard-content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  background-color: #00050e; /* Deepest black background */
  color: white;
}

.content-header {
  display: flex;
  font-size: 15px;
  letter-spacing: 1px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-family: 'Inter', sans-serif;
}

.card-grid {
  display: grid;
  /* Auto-fill creates columns that are at least 300px wide */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
}

/* Glass Card Base Style (Top-to-bottom effect) */
.glass-card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.02) 100%);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 24px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.glass-card:hover {
  transform: translateY(-5px);
  border-color: rgba(179, 136, 255, 0.4);
}

/* Specific Size Modifiers */
.hero-card {
  grid-column: span 2;
  background: linear-gradient(135deg, rgba(98, 0, 238, 0.2), rgba(255, 255, 255, 0.05));

}
.promo-card2 {
grid-column: span 2;
}
.hero-card:hover{
  transform: translateY(-8px); /* Lift effect */
  border-color: rgb(150, 90, 255); /* Purple glow border */
  box-shadow: 0 15px 40px rgba(98, 0, 238, 0.7); /* Purple depth shadow */
  background: linear-gradient(180deg, rgba(98, 0, 238, 0.49) 0%, rgba(255, 255, 255, 0.04) 100%);
}


.wide-card {
  grid-column: 1 / 4; /* Spans the entire width of the grid */
  height: 500px;
  background: linear-gradient(180deg, rgba(41, 145, 0, 0.38) 0%, rgba(255, 255, 255, 0.04) 100%);
}

.wide-card:hover{
  transform: translateY(-8px);
  border-color: rgba(179, 136, 255, 0.5); /* Purple glow border */
  box-shadow: 0 15px 40px rgba(41, 145, 0, 0.15); /* Purple depth shadow */
  background: linear-gradient(180deg, rgba(41, 145, 0, 0.73) 0%, rgba(255, 255, 255, 0.04) 100%);
}

@media (max-width: 900px) {
  .hero-card {
    grid-column: span 1; /* Stack normally on tablets/phones */
  }
}

.filter-actions{
  width: 400px;
}
