.cookie-card {
  position: relative;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.42);
  overflow: hidden;

  justify-content: center;
  align-items: center;

  /* Glass Effect: Top-to-Bottom Gradient */
  background: radial-gradient(at top center, rgba(164, 112, 0, 0.34) 1%, rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgb(0, 0, 0);
}

/* The Spotlight Reflection at the Top */
.spotlight {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(255, 222, 0,1),
    transparent
  );
  filter: blur(1px);
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.4);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 12px;
  background: radial-gradient(at top center, rgba(255, 173, 0, 0.55) 1%, rgba(255, 255, 255, 0));
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.icon-cookie {
  font-size: 16px;
  color: white; /* Matching your purple accent */
}

.heading {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;

}

.card-text {
  color: rgb(210, 191, 191);
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

/* Button Styles */
.button-group {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;

}

.btn-deny {
  background: rgba(233, 221, 255, 0.1); /* Muted purple */
  color: #f6f3ff;
  border: 1px solid rgba(255, 255, 255, 0.55);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}

.btn-accept {
  background: linear-gradient(90deg, #4caf50, #8bc34a); /* Green gradient */
  color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

button:active {
  transform: translateY(0) scale(0.95);
}
