.navbar{
  width: 100%;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
}
.main-content{
  flex: 1;
}
