.page-container{
  display: flex;
  width: 100vw;
  height: 1080px;
  flex-direction: column;
}
.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
}

.main-content{
  flex: 1;
}
