.sidebar {
  width: 18.75rem; /* 300px */
  height: 100%;
  background-color: #0b0f1a;
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.1); /* 1px */
  display: flex;
  flex-direction: column;
  transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.sidebar.collapsed {
  width: 5.3125rem; /* 85px */
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: 1.125rem; /* 18px */
}

.nav-section-bottom {
  /* Placeholder for potential styles */
}

/* Center the icons specifically when collapsed */
.sidebar.collapsed app-glass-button {
  display: flex;
  justify-content: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.625rem; /* 10px */
  overflow-y: auto;
  justify-content: space-between;
}

.bottom-section {
  margin-top: auto;
  padding-top: 1.25rem; /* 20px */
}

.spacer {
  flex: 1;
}
