.sidebar {
  width: 300px; /* Slightly wider to fit glass buttons */
  height: 100%;
  background-color: #0b0f1a;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  transition: width 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.sidebar.collapsed {
  width: 85px;
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: 18px; /* Space between glass buttons */

}

.nav-section-bottom{
}

/* Center the icons specifically when collapsed */
.sidebar.collapsed app-glass-button {
  display: flex;
  justify-content: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  overflow-y: auto; /* Allow scrolling if many items expand */
  justify-content: space-between;
}


.bottom-section {
  margin-top: auto; /* Pushes the Cookie Card2 to the bottom */
  padding-top: 20px;
}
.spacer {
  flex: 1;
}
