:host {
  display: block;
  width: 100%;
  height: 100%;
}

.total-card{
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: hidden;
  font-size: 24px;

  position: relative; /* Essential: Keeps the absolute image inside the card */
  width: 350px;
  padding: 24px;
  border-radius: 16px;
}

.total-card:hover .card-bg-image{
  opacity: 1;
}

.card-info{
  position: relative;  /* Places content on a new stacking context */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 0px;
  gap: 1px;
}
.card-info h3{
  font-family: 'Inter', sans-serif;
  line-height: 0;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 0.5px;


}
.amountChange{
  display: flex;
  flex-direction: column;
  gap: 4px;


}

.date{
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: rgb(0, 216, 255);
}


.currency{
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  color: #7843ee;

}

.change{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  color: #8385ff;
}

.card-footer { height: 160px; margin-top: -30px; margin-bottom: 30px; justify-content: center; overflow: visible; align-content: center; }
.sparkline { width: 100%; height: 100%; opacity: 0.7; justify-content: center; overflow: visible; align-content: center;}
.line-path { stroke-width: 2.5; stroke-linecap: round;vector-effect: non-scaling-stroke; }

.card-bg-image {
  opacity: 0.8;
  position: absolute;
  inset: 0; /* top, right, bottom, left all at 0 */
  width: 100%;
  height: 100%;
  object-fit: cover;       /* Crops the image to fit the container */
  object-position: center; /* Ensures the focus is the middle, not the top-left */
  z-index: 1;
}

.svg-class{
  width: 100%; height: 100%;
  margin-top: -30px; margin-bottom: 30px; justify-content: center; overflow: visible; align-content: center;
}
/* Axis Lines - very subtle */
.axis-line {
  stroke: rgba(0, 255, 245, 1);
  stroke-width: 1;
  stroke-dasharray: 2, 2; /* Makes them dotted/dashed */
  width: 100%;
  height: 100%;
}

/* The Main Trend Line - needs a glow to stand out from the grid */
.line-path {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  filter: drop-shadow(0 0 6px rgba(76, 175, 80, 0.4)); /* Green glow for positive */
  transition: stroke 0.3s ease;
}

.separate-text{
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  color: #ffffff;
}
/*!* Shimmer Spotlight *!*/
/*.card-shine {*/

/*  position: absolute;*/
/*  top: 0;*/
/*  left: -100%;*/
/*  width: 50%;*/
/*  height: 100%;*/
/*  background: linear-gradient(*/
/*    90deg,*/
/*    transparent,*/
/*    rgba(255, 255, 255, 0.2),*/
/*    transparent*/
/*  );*/
/*  transform: skewX(-20deg);*/
/*  transition: none;*/
/*}*/

/*.total-card:hover .card-shine {*/
/*  left: 150%;*/
/*  transition: left 0.7s ease-in-out;*/
/*}*/
