.total-card{
  display: flex;
  flex-direction: column;
  gap: 96px;
  overflow: hidden;
  font-size: 24px;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Inter', sans-serif;
  line-height: 0px;
  gap: 1px;
}
.card-info h3{
  font-family: 'Inter', sans-serif;

}
.amountChange{
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #0796ef;

}

.date{
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 2;
  color: rgb(0, 216, 255);
}
.balance{
  line-height: 0;
}

.currency{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.change{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  color: #08ee49;
}

.card-footer { height: 160px; margin-top: -30px; margin-bottom: 30px; justify-content: center; overflow: visible; align-content: center; }
.sparkline { width: 100%; height: 100%; opacity: 0.7; justify-content: center; overflow: visible; align-content: center;}
.line-path { stroke-width: 2.5; stroke-linecap: round;vector-effect: non-scaling-stroke; }

/* Axis Lines - very subtle */
.axis-line {
  stroke: rgba(0, 255, 245, 1);
  stroke-width: 1;
  stroke-dasharray: 2, 2; /* Makes them dotted/dashed */
  width: 100%;
  height: 100%;
}

/* The Main Trend Line - needs a glow to stand out from the grid */
.line-path {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  filter: drop-shadow(0 0 6px rgba(76, 175, 80, 0.4)); /* Green glow for positive */
  transition: stroke 0.3s ease;
}

/*!* Shimmer Spotlight *!*/
/*.card-shine {*/

/*  position: absolute;*/
/*  top: 0;*/
/*  left: -100%;*/
/*  width: 50%;*/
/*  height: 100%;*/
/*  background: linear-gradient(*/
/*    90deg,*/
/*    transparent,*/
/*    rgba(255, 255, 255, 0.2),*/
/*    transparent*/
/*  );*/
/*  transform: skewX(-20deg);*/
/*  transition: none;*/
/*}*/

/*.total-card:hover .card-shine {*/
/*  left: 150%;*/
/*  transition: left 0.7s ease-in-out;*/
/*}*/
