
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.total-card{
  display: flex;
  flex-direction: column;
  height: 30rem;
  overflow: visible;
  font-size: 1.5rem;

  position: relative; /* Essential: Keeps the absolute image inside the card */
  width: 43.75rem;
  min-height: 100%;
  padding: 1.5rem;
  border-radius: 1rem;

  justify-content: start;
  align-items: start;
  gap: 1.25rem;
}

.total-card:hover .card-bg-image{
  opacity: 1;
}

.card-info{
  position: relative;  /* Places content on a new stacking context */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 0px;
  gap: 0.625rem;
}
.card-info h3{
  font-family: 'Inter', sans-serif;
  line-height: 0;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.03rem;


}
.amountChange{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;


}

.date{
  font-size: 1.125rem;
  letter-spacing: 0.03rem;
  line-height: 2;
  color: rgb(0, 216, 255);
}


.currency{
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing:0.03rem;
  line-height: 1.2;
  color: #7843ee;

}

.change{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #8385ff;
}

.card-footer { height: 10rem; margin-top: -1.875rem; margin-bottom: 1.875rem; justify-content: center; overflow: visible; align-content: center; }
.sparkline { width: 100%; height: 100%; opacity: 0.7; justify-content: center; overflow: visible; align-content: center;}
.line-path { stroke-width: 2.5; stroke-linecap: round;vector-effect: non-scaling-stroke; }

.card-bg-image {
  opacity: 0.8;
  position: absolute;
  inset: 0; /* top, right, bottom, left all at 0 */
  width: 100%;
  height: 100%;
  object-fit: cover;       /* Crops the image to fit the container */
  object-position: center; /* Ensures the focus is the middle, not the top-left */
  z-index: 1;
}


/* Axis Lines - very subtle */
.axis-line {
  stroke: rgba(0, 255, 245, 1);
  stroke-width: 1;
  stroke-dasharray: 2, 2; /* Makes them dotted/dashed */
  width: 100%;
  height: 100%;
}

/* The Main Trend Line - needs a glow to stand out from the grid */
.line-path {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  filter: drop-shadow(0 0 6px rgba(76, 175, 80, 0.4)); /* Green glow for positive */
  transition: stroke 0.3s ease;
}

.separate-text{
  font-weight: 300;
  font-size: 1rem;
  letter-spacing:0.031rem;
  line-height: 1.2;
  color: #ffffff;
}
/*!* Shimmer Spotlight *!*/
/*.card-shine {*/

/*  position: absolute;*/
/*  top: 0;*/
/*  left: -100%;*/
/*  width: 50%;*/
/*  height: 100%;*/
/*  background: linear-gradient(*/
/*    90deg,*/
/*    transparent,*/
/*    rgba(255, 255, 255, 0.2),*/
/*    transparent*/
/*  );*/
/*  transform: skewX(-20deg);*/
/*  transition: none;*/
/*}*/

/*.total-card:hover .card-shine {*/
/*  left: 150%;*/
/*  transition: left 0.7s ease-in-out;*/
/*}*/
