.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
}

.input-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  color: #e5e5e5;
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 10px 10px 8px 40px; /* Extra padding on left for icon */
  font-size: 16px;
  border: 2px solid rgba(231, 243, 255, 0.66);
  border-radius: 12px;
  outline: none;
  transition: all 0.2s ease-in-out;
  background: transparent;
}

/* Hover & Focus States */
.search-input:hover {
  border-color: #0083ee;
}

.search-input:focus {
  border-color: #0083ee;
  box-shadow: 0 0 8px rgba(98, 0, 238, 0.2);
}
