.search-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem; /* 10px */
  width: 100%;
  max-width: 31.25rem; /* 500px */
  border-radius: 0.75rem; /* 12px */
}

.input-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 0.75rem; /* 12px */
  color: #e5e5e5;
  pointer-events: none;
}

.search-input {
  width: 100%;
  /* Padding: 10px 10px 8px 40px */
  padding: 0.625rem 0.625rem 0.5rem 2.5rem;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  letter-spacing: 0.03125rem; /* 0.5px */
  font-family: 'Inter', sans-serif;
  border: 0.125rem solid rgba(231, 243, 255, 0.66); /* 2px */
  border-radius: 0.75rem; /* 12px */
  outline: none;
  transition: all 0.2s ease-in-out;
  background: transparent;

  color: #ffffff;
  caret-color: #0083ee;
}

/* Hover & Focus States */
.search-input:hover {
  border-color: #0083ee;
}

.search-input:focus {
  border-color: #0083ee;
  /* Box-shadow: 0 0 8px */
  box-shadow: 0 0 0.5rem rgba(98, 0, 238, 0.2);
}
